<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hlsofttech.analysis.dao.CommonInterfaceExcHistoryDao">

   <!-- 通用查询映射结果 -->
   <resultMap id="BaseResultMap" type="com.hlsofttech.entity.analysis.CommonInterfaceExcHistory">
      <id column="id" property="id" />
      <result column="create_by" property="createBy" />
      <result column="del_flag" property="delFlag" />
      <result column="data_exc_id" property="dataExcId" />
      <result column="data_type" property="dataType" />
      <result column="data_space" property="dataSpace" />
      <result column="data_sql" property="dataSql" />
      <result column="param_id" property="paramId" />
      <result column="begin_date" property="beginDate" />
      <result column="date_format" property="dateFormat" />
      <result column="fresh_flag" property="freshFlag" />
      <result column="update_days" property="updateDays" />
      <result column="timer_offset" property="timerOffset" />
      <result column="exc_time" property="excTime" />
      <result column="cache_type" property="cacheType" />
      <result column="transform_data" property="transformData" />
      <result column="create_time" property="createTime" />
      <result column="last_update_by" property="lastUpdateBy" />
      <result column="last_update_time" property="lastUpdateTime" />
      <result column="remark" property="remark" />
   </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
      create_by,
      del_flag,
      data_exc_id,
      data_type,
      data_space,
      data_sql,
      param_id,
      begin_date,
      date_format,
      fresh_flag,
      update_days,
      timer_offset,
      exc_time,
      cache_type,
      transform_data,
      create_time,
      last_update_by,
      last_update_time,
      remark,
</sql>

</mapper>
