package ${package.Mapper};
import ${package.Entity}.${entity};
import org.apache.ibatis.annotations.Mapper;

import com.github.pagehelper.PageInfo;
import com.hlsofttech.base.BaseMappers;

/**
  * $!{table.comment}Mapper接口
 * @author ${author}
 * @date ${date}
 */
 @Mapper
public interface ${table.mapperName} extends ${superMapperClass}<${entity}> {
 /**
     * @date   2019年3月8日10:53:29
     * @author zuoqb123
     * @todo   字典新增或者修改
     */
	boolean saveOrUpdate(${entity} entity);
	/**
     * @date   2019年3月8日10:53:29
     * @author zuoqb123
     * @todo   字典逻辑删除
     */
	boolean deleteLogic(String id);
	
	/**
     * @date   2018-10-11
     * @author zuoqb123
     * @todo   字典单条数据查询
     */
	${entity} getById(String id);
	
	/**
     * @date   2019年3月8日10:53:29
     * @author zuoqb123
     * @todo   字典分页查询
     */
	PageInfo<${entity}> pageList(${entity} entity,Integer pageNum,Integer pageSize);
}


